
@{
    ViewBag.Title = "Countries List";
}

<h2>Countries List</h2>

<ul>
    @foreach (String strCountry in ViewBag.CountriesList)
    {
    <li>@strCountry</li>
    }
</ul>
<br /><br /><br />
@Html.ActionLink("All Employee details", "AllEmployeeDetails", "Employee")